*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav, ul{
    list-style: none;
    

}
a{
    color: aliceblue;
    text-decoration: none;
}

header{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(2, 56, 73); 
    
}

.ul-menu{
  
    display: flex;
    margin: 2rem; 
}
.menu_item{
    padding-right: 2rem;
}
a.link_menu:hover{
    color: #00000086;
}



.conteudo_imagem{
    width: 100%;
    /* height: 100vh; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: flex-start; */
    text-align: center;
    /* margin-top: 10vh; */
    padding: 50px ;
}
    
.content:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 60.5ms;
}

.imagem-ponto:hover{
  color: rgb(27, 29, 29);
}

i{
    z-index: 100;
    font-size: 3rem;
    padding:1rem;
}
.populacao{
    font-family:'Gill Sans';
}
.populacao-numero{
    font-size: 2rem;
    text-transform: lowercase;
    font-weight: bold;
    color: chartreuse;
}




.continuar-lendo{
  color: blue;
}

.rodape{
    border: 1px solid black;
    background-color: black;
    height: 8rem;
}


  /* Munu Pontos turisticos*/

  h1 {
    z-index: 100;
    font-size: 40px;
    word-break: break-all;
  }

   .reserva-texto{
    color: white;
    z-index: 100;
    font-size: 1.5rem;
  }
  
  .row {
    z-index: 100;
    margin: 8px -1px;
  }
  

  .row,
  .row > .column {
    padding: 8px;
    z-index: 100;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: white;
    padding: 10px;
  }

  /* Menu COnhecer ANgola*/
  .historia{
    z-index: 100;
    color: white;
  }
  .historia-texto{
    z-index: 100;
    color: white;
    text-align: justify;
    margin: 2rem;
    padding: 2rem;
    
  }
 
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  @media  (max-width: 1296px) {
    
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }