*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav, ul{
    list-style: none;

}
   a{ color: rgb(233, 228, 228);
    text-decoration: none;
}

header.cabecalho{
  background-color: rgb(91, 54, 54);
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul-menu{
    display: flex;
    margin: 2rem; 
}
.menu_item{

    padding-right: 2rem;
}
a.link_menu:hover{
    color: #00000086;
}

.conteudo_imagem .overlay{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.514);
    width: 100%;
    height: 100vh;
    z-index: 8;
}
.conteudo_imagem .background{
  position:absolute;
  /*background-color: rgba(0, 0, 0, 0.514);*/
  width: 100%;
  height: 100vh;
  z-index: 1;
}


.conteudo_imagem{
    width: 100%;
    height: 100vh;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    text-align: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.texto{
    margin-top: 6rem;
    margin-bottom: 15rem;
    color: aliceblue;
    z-index: 10;
}
.texto{
    font-size: 30px;
    margin-bottom: 1rem;
}
h4{
    padding: 10px;
    z-index: 10;
    font-size: 40px;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.informacao{
    z-index: 10;
    width: 70rem;
    height: 10rem;
    margin-top: 5rem;
      border-radius: 50px;
    display: flex;
    color: rgb(223, 32, 32);
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.informacao-item{
    display: flex;
    align-items: center;
    width: 19rem;
    padding: .4rem;
}

i{
    z-index: 100;
    font-size: 3rem;
    padding:1rem;
}
.populacao{
    font-family:'Gill Sans';
}
.populacao-numero{
    font-size: 2rem;
    text-transform: lowercase;
    font-weight: bold;
    color: chartreuse;
}
.conteudo{
  /*width: 100%;*/
  height: 150vh;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* text-align: center; */
  margin-left: 100px;
}

.conteudo-h2{
  font-size: 2rem;
  margin: 23px 0px -20px 246px;
}

.conteudo-p{
  font-size: 1rem;
  margin: 23px 0px -9px 336px;
  color: rgba(57, 58, 58, 0.877);

}

.cabo-ledo {
  position: relative;
  max-width: 600px; 
  padding: 2rem;
  display:table;
  float: left;

}

.cabo-ledo .cabo-ledo-texto {
  position: absolute; 
  bottom: 2.2rem; 
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 89%; 
  padding: 20px; 
}

.continuar-lendo{
  color: blue;
}

.rodape{
    border: 1px solid black;
    background-color: black;
    height: 8rem;
}



  

/*Estututurando menu reserva*/
input[type=text], select, textarea {
    width: 85,5%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 6px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}

.reserva{
  z-index: 100;
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-radius: 5px;
  margin: 12rem;
  padding: 2rem;
  color:white;
  background-color: #00000044;
  
}

#destino{
  
  justify-content: space-between;
}
#contacto{
  margin-left: 0rem;
  justify-content: space-between;
}


  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 25rem;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  /* Munu Pontos turisticos*/

  .main {
    
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    z-index: 100;
    font-size: 30px;
    word-break: break-all;
    padding-top: 2rem;
  }

   .reserva-texto{
    color: white;
    z-index: 100;
    font-size: 1.rem;
  }
  
  .row {
    z-index: 100;
    margin: 8px -16px;
  }
  

  .row,
  .row > .column {
    padding: 8px;
    z-index: 100;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: white;
    padding: 10px;
  }
  

  /* Menu COnhecer ANgola*/
  .historia{
    z-index: 100;
    color: white;
  }
  .historia-texto{
    z-index: 100;
    color: white;
    text-align: center;
    margin: 2rem;
    padding: 2rem;
  }
 
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  @media  (max-width: 1296px) {
    
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }